body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.kanjis {
    display: grid;
    align-items: center;
    margin: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}

.kanji-item {
    display: grid;
    align-items: center;
    text-align: center;
}