body {
    min-height: 100vh;
    background-color: #212534;
    color: #c29a77;
    display: grid;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.checkboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.kanjis {
    display: grid;
    align-items: center;
    margin: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.kanji-item {
    display: grid;
    align-items: center;
    text-align: center;
}

#submitBtn {
    width: auto;
    justify-self: center;
  }